<div class="collection-item columns large-4">
  <a href="{{ collection.url }}">
    <div class="image-wrapper">
      {%
        render "framework--placeholder",
        type: "collection",
        aspect_ratio: 1,
        placeholder_index: index
      %}
    </div>
    <div class="caption">
      <div class="bg"></div>
      <div class="inner">
        <div class="font--block-heading">
          {{ 'collections.onboarding.title' | t }}
        </div>
        <p class="font--accent">{{ 'collections.onboarding.num_items' | t }}</p>
      </div>
    </div>
  </a>
</div>